
.allScript {
  display: flex;
}

    .lines {
      flex: 5;
      overflow: auto;
      height: 73vh;
    }

    .navigation {
      flex: 1;
      height: 265px;
    }

    .control {
      flex: 4;
      overflow: wrap;
      flex-shrink: 0;
    }

    
button.panel  {
    height: 40px;
    width: 100%;
}

/* Only show script when printing */
@media print { 
    * {
        visibility: hidden;
    }

    .lines * {
        visibility: visible;
    }

    .lines {
        position: absolute;
        width: 100vh;
        top: 0px;
        margin-top: 0px;
        overflow: visible;
    }
}