
.allScript {
  display: flex;
}

        .lines {
          flex: 5;
          overflow: auto;
          height: 73vh;
        }

        .navigation {
          flex: 1;
          height: 265px;
        }

        .control {
          flex: 4;
          overflow: wrap;
        }

    

/** for buttons **/
button.panel  {
    height: 40px;
    width: 100%;
}


@media print {
    * {
        visibility: hidden;
    }

    /* Show element to print, and any children he has. */
    .lines * {
        visibility: visible;
    }

    /*.scrollgap {
      margin-top: 0px;
    }*/

    .lines {
        position: absolute;
        width: 100vh;
        top: 0px;
        margin-top: 0px;
        overflow: visible;
    }
}