.block {
    border-radius: 2px 15px 15px 2px;
    width: 75%;
    overflow: hidden;
}

.blockMobile {
    border-radius: 2px 15px 15px 2px;
    overflow: hidden;
}

/* Highlight Type */
.focus {
    background: #f2eec4;
}
.track {
    background: #f8c9c4;

}
.focustrack {
    background: #deb887; 
}
.cue {
    background: #00EDFF;
}
.focuscue {
    background: #00D0FF;
}


/* Block Type */
.DIRECTION {
    font-style: italic;
}
.ACT {
    font-weight: bold;
}
.SCENE {
    font-weight: bold;
}
.text {
    margin-left: 8px; 
}


/* Highlight name when tracking */
.track .character,.focustrack .character {
    border-radius: 2px 5px 5px 0px;
    padding: 0px 2px;
    background: #C0392B;
    color: white;
    font-size: 16px;
}


/* Font for character names */
 .character {
    font-size: 16px;
}





